/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.wrap {
  white-space: pre;
}

.input-list {
  display: flex;
  flex-flow: wrap;
  margin-left: -10px;
}

.input-list>* {
  margin-left: 10px;
}