<div class="config-container">
  <h2>Note:</h2>
  <p>
    Changes to any of the following config values (including auto tune results) will not be persisted after a refresh,
    unless the <code>save</code> button at the bottom is clicked.
  </p>
  <br>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Simulator</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="input-list">
        <mat-slide-toggle [(ngModel)]="configService.config.simulation">
          Simulation Mode (save and refresh page after changing to take effect)
        </mat-slide-toggle>

        <div class="flex-break"></div>

        <mat-form-field *ngIf="configService.config.simulation">
          <mat-label>Boat Speed</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.simulationSpeedKt">
        </mat-form-field>

        <mat-form-field *ngIf="configService.config.simulation">
          <mat-label>Heading Sensor Noise Amplitude</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.simulationNoiseAmplitude">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>



  <mat-card>
    <mat-card-header>
      <mat-card-title>Rotation Rate PID Controller</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="input-list">
        <mat-form-field>
          <mat-label>Proportional</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationKp">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Integral</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationKi">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Derivative</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationKd">
        </mat-form-field>

        <div class="flex-break"></div>

        <mat-form-field>
          <mat-label>Sensor Noise Pre-Filter</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationLowPassFrequency">
          <mat-hint>Low Pass Freq. HZ</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>PID Ctrl Derivative Noise Filter</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationPidDerivativeLowPassFrequency">
          <mat-hint>Low Pass Freq. HZ</mat-hint>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Tune Noise Band</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationTuneNoiseBand">
          <mat-hint>Degrees per second</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tune Allowed Variance</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationTuneAllowedVariance">
          <mat-hint>Percent</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Disable Noise Band Cycles</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationTuneDisableNoiseBandCycles">
          <mat-hint></mat-hint>
        </mat-form-field>

        <div class="flex-break"></div>


        <mat-form-field>
          <mat-label>Boat Speed During Tuning (kt)</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.rotationTuneSpeedKts">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Spd. Depd. Max Turning Rt.</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.maxTurnRateDegreesPerSecondPerKt">
          <mat-hint>Degrees / Second / KT</mat-hint>
        </mat-form-field>

        <div class="flex-break"></div>

        <mat-form-field>
          <mat-select placeholder="Configs" [(value)]="selectedRotationConfig" multiple>
            <mat-option *ngFor="let single of configService.config.rotationConfigs" [value]="single">
              {{single.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button *ngIf="selectedRotationConfig && selectedRotationConfig.length === 1" mat-raised-button color="primary"
          (click)="loadSelectedRotation()">
          Load Selected
        </button>

        <button *ngIf="selectedRotationConfig" mat-raised-button color="primary" (click)="deleteSelectedRotation()">
          Delete Selected
        </button>

        <button mat-raised-button color="primary"
          (click)="addCurrentRotation()">
          Add Current Values
        </button>

        <div class="flex-break"></div>

        <button *ngIf="btConnected" mat-raised-button color="primary" (click)="tuneRotationOnly()">
          Tune Rotation Rate Controller
        </button>

      </div>
    </mat-card-content>
  </mat-card>







  <mat-card>
    <mat-card-header>
      <mat-card-title>Orientation PID Controller</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="input-list">
        <mat-form-field>
          <mat-label>Proportional</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.orientationKp">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Integral</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.orientationKi">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Derivative</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.orientationKd">
        </mat-form-field>



        <div class="flex-break"></div>

        <mat-form-field>
          <mat-label>Sensor Noise Pre-Filter</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.orientationLowPassFrequency">
          <mat-hint>Low Pass Freq. HZ</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>PID Ctrl Derivative Noise Filter</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.orientationPidDerivativeLowPassFrequency">
          <mat-hint>Low Pass Freq. HZ</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tune Noise Band</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.orientationTuneNoiseBand">
          <mat-hint>Degrees</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tune Allowed Variance</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.orientationTuneAllowedVariance">
          <mat-hint>Percent</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Disable Noise Band Cycles</mat-label>
          <input matInput type="number" [(ngModel)]="configService.config.orientationTuneDisableNoiseBandCycles">
          <mat-hint></mat-hint>
        </mat-form-field>


        <div class="flex-break"></div>

        <mat-form-field>
          <mat-select placeholder="Configs" [(value)]="selectedOrientationConfig" multiple>
            <mat-option *ngFor="let single of configService.config.orientationConfigs" [value]="single">
              {{single.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button *ngIf="selectedOrientationConfig && selectedOrientationConfig.length === 1" mat-raised-button
          color="primary" (click)="loadSelectedOrientation()">
          Load Selected
        </button>

        <button *ngIf="selectedOrientationConfig" mat-raised-button color="primary"
          (click)="deleteSelectedOrientation()">
          Delete Selected
        </button>

        <button mat-raised-button color="primary"
          (click)="addCurrentOrientation()">
          Add Current Values
        </button>

        <div class="flex-break"></div>

        <button *ngIf="btConnected" mat-raised-button color="primary" (click)="tuneOrientationOnly()">
          Tune Orientation Controller
        </button>


      </div>
    </mat-card-content>
  </mat-card>






  <mat-card>
    <mat-card-header>
      <mat-card-title>General</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="input-list">

        <button mat-raised-button color="primary" (click)="downloadLog()">Download Log</button>

      </div>
    </mat-card-content>
  </mat-card>







  <mat-card>
    <mat-card-header>
      <mat-card-title>Graphs</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="input-list">
        <mat-slide-toggle [(ngModel)]="configService.config.showGraphGps">
          Show GPS
        </mat-slide-toggle>

        <div class="flex-break"></div>

        <mat-slide-toggle [(ngModel)]="configService.config.showGraphDistanceFromLine">
          Show Distance From Line
        </mat-slide-toggle>

        <div class="flex-break"></div>

        <mat-slide-toggle [(ngModel)]="configService.config.showGraphOrientation">
          Show Orientation
        </mat-slide-toggle>

        <div class="flex-break"></div>

        <mat-slide-toggle [(ngModel)]="configService.config.showGraphRotation">
          Show Rotation
        </mat-slide-toggle>

        <div class="flex-break"></div>

        <button mat-raised-button color="primary" (click)="clearGraphs()">Clear Charts</button>


      </div>
    </mat-card-content>
  </mat-card>




  <div>
    <br>
    <br>
    <h3>Note:</h3>
    <p>
      Any changes made above (including auto tune results) will not be persisted after a refresh unless
      <code>save</code> is clicked.
    </p>
    <br>

    <button mat-raised-button color="primary" (click)="configService.save()">
      Save
    </button>
  </div>


</div>