.connect-container {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider {
  width: 100%;
  max-width: 300px;
}


.small-input {
  width: 100px;
}

.manual-controls {
  margin-top: 60px !important;
}

.manual-controls>button {
  transform: scale(1.5);
}

.center-controls {
  margin-top: 20px;
  display: flex;
  place-content: space-around;
  max-width: 532px;
}

.charts {
  margin-top: 10px;
}

.data-controls {
  display: flex;
  place-content: space-between;
  margin-top: 60px;
  margin-left: 0;
  margin-right: 10px;
  flex-flow: wrap;
}

.data-controls>* {
  margin-left: 10px;
  margin-top: 10px;
}

mat-slide-toggle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.config-container {
  margin-top: 60px;
}