<div *ngIf="!btConnected" class="connect-container">
  <button mat-raised-button color="primary" (click)="initBluetooth()">Connect BT</button>
</div>


<div>
  Motor Speed: {{pidSpeed * 100 | number:'1.0-0'}}% <br>
  Motor Direction: {{motorDirection === Direction.LEFT ? "+--- Left" : " Right ---+"}} <br>
  Heading Current: {{headingCompassService.current | number:'1.0-0'}} <br>
  Heading Avg: {{getAverageHeading() | number:'1.0-0'}} <br>
  Heading Desired: {{activeHeadingService.desired | number:'1.0-0'}} <br>
  Error: {{activeHeadingService.getError() | number:'1.0-0'}} <br>
  Speed (kt): {{headingGpsService.getSpeedKt() | number:'1.2-2'}} <br>
</div>


<div class="input-list">
  <mat-form-field class="small-input">
    <mat-label>Proportional</mat-label>
    <input matInput type="number" [(ngModel)]="pidController.kP">
  </mat-form-field>

  <mat-form-field class="small-input">
    <mat-label>Integral</mat-label>
    <input matInput type="number" [(ngModel)]="pidController.kI">
  </mat-form-field>

  <mat-form-field class="small-input">
    <mat-label>Derivative</mat-label>
    <input matInput type="number" [(ngModel)]="pidController.kD">
  </mat-form-field>
</div>


<div *ngIf="btConnected">
  <mat-slide-toggle [ngModel]="autoPilotOn" (ngModelChange)="changeAutoPilot($event)">Auto
    Pilot</mat-slide-toggle>
</div>


<div class="center-controls">
  <button mat-raised-button color="primary" (click)="maintainCurrentHeading()">Maintain Current Heading</button>
</div>


<div class="charts">
  Heading Error:
  <app-chart [data]="chartData1"></app-chart>
  <app-chart [data]="chartData2"></app-chart>
  <app-chart [data]="chartData3"></app-chart>
</div>



<div *ngIf="btConnected" class="center-controls manual-controls">
  <button mat-raised-button color="primary" (click)="moveManually(Direction.LEFT)" [disabled]="autoPilotOn">
    left
  </button>
  <button mat-raised-button color="primary" (click)="stopManually()">
    stop
  </button>
  <button mat-raised-button color="primary" (click)="moveManually(Direction.RIGHT)" [disabled]="autoPilotOn">
    right
  </button>
</div>



<div class="data-controls">
  <button mat-raised-button color="primary" (click)="downloadLog()">Download Log</button>
  <mat-form-field>
    <mat-label>Clear Log Safety</mat-label>
    <input matInput type="text" [(ngModel)]="clearDataString">
    <mat-hint>Type "clear" and hit button</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="clearData()" [disabled]="!canClear()">Clear Data</button>

  <mat-slide-toggle [(ngModel)]="loggingEnabled">Save Logs Between Refreshes</mat-slide-toggle>
</div>