<div *ngIf="!btConnected" class="connect-container">
  <button mat-raised-button color="primary" (click)="initBluetooth()">Connect BT</button>
</div>


<div>
  Heading Current: {{sensorOrientation.current | number:'1.0-0'}} <br>
  Heading Avg: {{controllerOrientation.getAverageHeading() | number:'1.0-0'}} <br>
  Heading Desired: {{controllerOrientation.desired | number:'1.0-0'}} <br>
  Controllers: Rotation: {{controllerRotationRate.enabled ? "on" : "off"}} Orientation: {{controllerOrientation.enabled
  ? "on" : "off"}} <br>
  Speed (kt): {{sensorGpsService.getSpeedKt() | number:'1.2-2'}} <br>
</div>



<button mat-raised-button color="primary" (click)="copyResults()">Copy PID Values</button>



<div class="input-list">
  <mat-form-field class="small-input">
    <mat-label>Rot. Rt. Proportional</mat-label>
    <input matInput type="number" [(ngModel)]="controllerRotationRate.kP">
  </mat-form-field>

  <mat-form-field class="small-input">
    <mat-label>Rot. Rt. Integral</mat-label>
    <input matInput type="number" [(ngModel)]="controllerRotationRate.kI">
  </mat-form-field>

  <mat-form-field class="small-input">
    <mat-label>Rot. Rt. Derivative</mat-label>
    <input matInput type="number" [(ngModel)]="controllerRotationRate.kD">
  </mat-form-field>
</div>


<div class="input-list">
  <mat-form-field class="small-input">
    <mat-label>Orient. Proportional</mat-label>
    <input matInput type="number" [(ngModel)]="controllerOrientation.kP">
  </mat-form-field>

  <mat-form-field class="small-input">
    <mat-label>Orient. Integral</mat-label>
    <input matInput type="number" [(ngModel)]="controllerOrientation.kI">
  </mat-form-field>

  <mat-form-field class="small-input">
    <mat-label>Orient. Derivative</mat-label>
    <input matInput type="number" [(ngModel)]="controllerOrientation.kD">
  </mat-form-field>
</div>








<div class="center-controls">
  <button mat-raised-button color="primary" (click)="maintainCurrentHeading()">Maintain Current Heading</button>
</div>



<div *ngIf="showGraphs" class="charts">
  <app-chart [data]="chartGpsHeading"></app-chart>
  <app-chart [data]="chartNavigation"></app-chart>
  <app-chart [data]="chartOrientation"></app-chart>
  <app-chart [data]="chartDataRotationRate"></app-chart>
</div>



<div *ngIf="btConnected" class="center-controls manual-controls">
  <button mat-raised-button color="primary" (click)="moveManually(-1)">
    &lt;--
  </button>
  <button mat-raised-button color="primary" (click)="stopManually()">
    stop
  </button>
  <button mat-raised-button color="primary" (click)="moveManually(1)">
    --&gt;
  </button>
</div>



<div class="data-controls">
  <button mat-raised-button color="primary" (click)="downloadLog()">Download Log</button>

  <mat-form-field>
    <mat-label>Clear Log Safety</mat-label>
    <input matInput type="text" [(ngModel)]="clearDataString">
    <mat-hint>Type "clear" and hit button</mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="clearData()" [disabled]="!canClear()">Clear Data</button>

  <mat-slide-toggle [(ngModel)]="loggingEnabled">Save Logs Between Refreshes</mat-slide-toggle>

  <mat-slide-toggle [(ngModel)]="showGraphs">
    Show Graphs
  </mat-slide-toggle>

  <button *ngIf="btConnected" mat-raised-button color="primary" (click)="tune()">
    Tune
  </button>

  <button mat-raised-button color="primary" (click)="setGpsHeading()">GPS Heading</button>
  <button mat-raised-button color="primary" (click)="clearGraphs()">Clear Charts</button>


</div>










<div *ngIf="btConnected" class="center-controls manual-controls">
  <button mat-raised-button color="primary" (click)="motor(-1)">
    &lt;-- Motor
  </button>
  <button mat-raised-button color="primary" (click)="motor(0)">
    stop
  </button>
  <button mat-raised-button color="primary" (click)="motor(1)">
    Motor --&gt;
  </button>
</div>