<div class="connect-container">
  <div class="input-list">
    <button *ngIf="!btConnected" mat-raised-button color="primary" (click)="initBluetooth()">Connect BT</button>
    <button mat-raised-button color="primary" (click)="toggleFullScreen()">
      {{isInFullscreenMode() ? "Exit Full Screen" : "Full Screen" }}
    </button>
    <button mat-raised-button color="primary" (click)="blackoutScreen = true">Blackout</button>
  </div>
</div>

<app-blackout *ngIf="blackoutScreen" (click)="blackoutScreen = false"></app-blackout>


<div>
  Heading Current: {{sensorOrientation.heading.value.heading | number:'1.0-0'}} <br>
  Heading Avg: {{controllerOrientation.getAverageHeading() | number:'1.0-0'}} <br>
  Heading Desired: {{controllerOrientation.desired | number:'1.0-0'}} <br>
  Controllers: Rotation: {{controllerRotationRate.enabled ? "on" : "off"}} Orientation: {{controllerOrientation.enabled
  ? "on" : "off"}} <br>
  Speed (kt): {{UnitConverter.mpsToKts(sensorLocation.getSpeedMps()) | number:'1.2-2'}} <br>
</div>






<div class="center-controls">
  <button *ngIf="btConnected" mat-raised-button color="primary" (click)="maintainCurrentHeading()">
    Maintain Current Heading
  </button>
</div>



<div class="charts">
  <app-chart *ngIf="configService.config.showGraphGps" [data]="chartGpsHeading" title="GPS Heading"
    (dblclick)="clearGraphs()">
  </app-chart>
  <app-chart *ngIf="configService.config.showGraphDistanceFromLine" [data]="chartNavigation" title="GPS Path Controller"
    (dblclick)="clearGraphs()">
  </app-chart>
  <app-chart *ngIf="configService.config.showGraphOrientation" [data]="chartOrientation"
    title="Orientation Controller (Zero is Set Point)" (dblclick)="clearGraphs()">
  </app-chart>
  <app-chart *ngIf="configService.config.showGraphRotation" [data]="chartDataRotationRate"
    title="Rotation Rate Controller" (dblclick)="clearGraphs()">
  </app-chart>
</div>



<div *ngIf="btConnected" class="center-controls manual-controls">
  <button mat-raised-button color="primary" (click)="moveManually(-1)">
    &lt;--
  </button>
  <button mat-raised-button color="primary" (click)="stopManually()">
    stop
  </button>
  <button mat-raised-button color="primary" (click)="moveManually(1)">
    --&gt;
  </button>
</div>


<div class="config-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Config
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-config></app-config>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<div class="data-controls">

  <button mat-raised-button color="primary" (click)="setGpsHeading()">Set GPS Heading</button>

</div>










<div *ngIf="btConnected" class="center-controls manual-controls">
  <button mat-raised-button color="primary" (click)="motor(-1)">
    &lt;-- Motor
  </button>
  <button mat-raised-button color="primary" (click)="motor(0)">
    stop
  </button>
  <button mat-raised-button color="primary" (click)="motor(1)">
    Motor --&gt;
  </button>
</div>